html { height:100%; }
body { height:100%; font-size:12px; color:#111; font-family:Arial; margin:0px; }

.border-radius-2 { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; } 

#welcome { display:flex; flex-direction: row; min-height:100%; background:#999999; justify-content: center; align-items: center; }
.welcome { margin:0px auto; width:50%; background:#cecece; box-sizing: border-box; padding:10px; }
.btn { border:solid 1px #293251; background:#414A69; color:#fff; }
a.btn { padding:5px 8px; display:inline-block; text-decoration: none; }
.welcome form { background:#fff; box-sizing: border-box; padding:10px; }
.welcome form h4 { margin-top:0px; }

#wrapper { background:#999999; padding:10px; min-height:100%; box-sizing: border-box }
#wrapper h3 { margin:0px; font-size:12px; }
#container { display:flex; flex-direction: row; }
#container canvas { margin:0px 10px 0px 0px; }
#log { padding:10px; background:#fff; flex-grow: 1; overflow-y:auto; box-sizing: border-box; }
#log p { margin:2px 0px; }

.controls { width:100%; box-sizing: border-box; padding:10px 0px; }
.controls a { border-radius: 2px; display:inline-block; padding:2px 5px; background:#fff; text-decoration: none; color:#111; }
.controls a:hover { text-decoration: underline; }

.controls a.btn { border:solid 1px #293251; background:#414A69; color:#fff; padding:5px 8px; } 
.controls input.delete { background:#ff0000; color:#fff; border: none; }